body {
    font-family: 'Open Sans', helvetica, Sans-Serif;
}

.content em {
    color: red
}

.bg-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: url('figures/bg.jpg') repeat-y;
    background-position: center top;
    background-size: cover;
}

.content {
    padding: 50px;
    border-color: rgba(100,100,100,1);
    border-width: 10px;
    border-style: outset;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.8);
    margin-top: 50px;
    width: 65%;
    min-width: 400px;
}

.speaker {
    width: 100%;
    min-height: 200px;
    padding-left: 10px;
    padding-bottom:40px;
}
.speaker img {
    padding-right: 10px;
    padding-bottom: 120px;
    width: 150px;
    float: left;
}
.speaker .name {
    color: Red;
    float: left;
}

.speaker .caption {
}

.speaker h3 {
}



